body{
    margin: 0;
}
.test1{
    background: silver;
    height: 800px;
}

.box{
    background: gold;
    width: 200px;
    height: 100px;
}
h2{
    margin: 0;
}
.test1{
    display: flex;
    justify-content: space-around;
}