body{
    margin: 0; background: #ffffff;
}
.box1{
    width: 900px;
    height: 400px;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    margin-right: 25%;
    margin-left: 25%;
    justify-content: space-evenly;
}

.card{
    width: 250px;
    height: 320px;
    border: 1px solid #868694;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
    display: flex;
    background: aliceblue;
}
.name{
    font-family: "Times New Roman", serif;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
.text{
    text-align: center;
    font-size: 20px;
    color: #989ab1;
    line-height: 1.5rem;
}
.learn{
    border: 1px solid black;
    width: 70%;
    height: 2.7rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }